@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  font-family: Inter, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f1f3fd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #f1f3fd;
  /* #5c50c0 */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.participants_scrollBarStyles::-webkit-scrollbar {
  display: none;
}
/* width */
.scrollBarStyles::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollBarStyles::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scrollBarStyles::-webkit-scrollbar-thumb {
  background: rgb(227, 226, 226);
  border-radius: 10px;
}

/* Handle on hover */
.scrollBarStyles::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}

.session_expired_bg_image {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 33%, #9599e2 100%);
}
.boxShadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
}
.headetR th:first-child {
  width: 260px;
  padding-left: 25px;
}
.headetR th:nth-child(2) {
  width: 110px;
  padding-left: 0;
  padding-left: 12px;
}
.headetR th:nth-child(3) {
  width: 150px;
  padding-left: 0;
  padding-left: 8px;
}
.headetR th:nth-child(4) {
  width: 190px;
  padding-left: 0;
  padding-left: 10px;
}

.MembersHeadetR th:first-child {
  width: 240px;
}
.MembersHeadetR th:nth-child(2) {
  width: 220px;
  padding-left: 0;
  padding-left: 8px;
}
.MembersHeadetR th:nth-child(3) {
  width: 290px;
  padding-left: 0;
  padding-left: 10px;
}

.ClientsHeadetR th:first-child {
  padding-left: 20px;
}
.ClientsHeadetR th:nth-child(2) {
  margin-left: -120px;
}

.faded {
  position: relative;
}
.faded::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, #f1f3fd4f, #f1f3fd);
}
.faded::after {
  content: "";
  position: absolute;
  right: 0;
  z-index: 1;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, #f1f3fd4f, #f1f3fd);
}

.conaheader {
  /* background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); */
  /* background-image: linear-gradient(45deg, #93a5cf 0%, #a3e6fa 100%); */
  background-image: linear-gradient(45deg, #aab4cdad 0%, #ffffff 100%);
}
.showcase_bg {
  /* background-image: linear-gradient(
    -225deg,
    #22e1ff 0%,
    #1d8fe1 48%,
    #625eb1 100%
  ); */
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
}

.dinacolor {
  background: #9b59b6;
  background: radial-gradient(at center, #3498db, #9b59b6);
}

.sliding-container {
  overflow: hidden;
}

.sliding-word {
  display: inline-block;
  animation: slideRightToLeft 20s infinite linear;
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(950%);
  }
  100% {
    transform: translateX(-950%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
